x-base: &BASE
  build:
    context: .
    dockerfile: docker/Dockerfile.alpine
  init: true
  privileged: true
  volumes:
    - /dev:/dev
    - .:/app

services:
  builder:
    <<: *BASE
    command: make

  devices:
    <<: *BASE
    command: socat -ddd PTY,link=/dev/ttyUSB0,raw,echo=0 PTY,link=/dev/ttyUSB1,raw,echo=0

  server:
    <<: *BASE
    depends_on:
      builder:
        condition: service_completed_successfully
      devices:
        condition: service_started
    command: sh -c "sleep 1 && ./build/slave_static"
    #command: sh -c "sleep 1 && ./build/_deps/libmodbus-src/tests/bandwidth-server-one rtu"

  client:
    <<: *BASE
    depends_on:
      builder:
        condition: service_completed_successfully
      devices:
        condition: service_started
    command: sh -c "sleep 2 && \time -v ./build/master_static"
    #command: sh -c "sleep 1 && \time -v ./build/_deps/libmodbus-src/tests/bandwidth-client rtu"
